
body{
  background-size: auto;
}

header{
  display: flex;
  margin-top: 2%;
  margin-bottom: 20px;
  justify-content: center; 
  flex-direction: column;
}

.score{
  display: flex;
  justify-content: center;
}

#cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer{
  display: flex;
  flex-flow: wrap;
  height: 340px;
  width: 800px;
  margin: auto; 
  justify-content: space-between;
}

h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 20px;
  align-self: center;
  background-color:#FFFFE0;
}

#container{
  display: flex;
  margin: auto; 
  /* margin-left: 180px; */
  background-color: gainsboro;
  height: 340px;
  width: 360px;
  flex-flow: wrap;
  justify-content: center;
  /* position: relative; */
  align-self: center;
}
.i{
  background-color: aqua;
  height: 198px;
  width: 190px;
  background-size: contain;
  align-self: flex-end;
  visibility: hidden; 

}

.box{
  background-color: powderblue;
  width: 100px;
  height: 100px;
  margin: 4px;
}
/* short hand property one line */
/* use hyphen - between name */

footer{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-content: space-between;

  /* margin-left: 300px;
  margin-top: 20px;  */
  }

  .buttonNav{
    align-content: space-around;
  }

.back{
/* position: relative; */
  display: flex;
  height: 700px;
  background-image: url("../images/r.png");
  width: 80%;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
  background-size: cover; 
  align-content: space-between;
}


.text-block {
  margin-top: 35%;
  background-color:powderblue;
  color:black;
  text-align: center;
  justify-self: end;
  }

.playButton{
    display: flex;
  }

#playHome{
  justify-self: center;
  }

img{
  opacity: 0.5;
  width: 50%;
  margin: auto;
  }
